<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Relativity.API" version="17.10.2" targetFramework="net462" />
  <package id="Relativity.EventHandler" version="17.10.2" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="10.3.287.3" targetFramework="net462" />
</packages>